.maindivv{
    background-image: linear-gradient( to right, rgb(249, 214, 245),rgb(240, 159, 173) 80%);
    width: 100vw;
    height: 90vh;
}
.imag{
    width: 100px;
    height: 100px;
    margin: 20px;
}
