.div1{
    background-image: linear-gradient(to right,rgb(100, 9, 138),rgb(214, 162, 236));
    width: 100%;
    height: 100vh;
}
.div2{
    /* height: 50%;
    width: 20%; */
    background-color: white;
    border-radius: 20px;
}
.emailbox{
    border: 2px solid black;
    height: 30px;
    width: 10rem;
}
.emailbox1{
    border: none;
    outline: none;
}